# Binaries for programs and plugins

_.exe
_.exe~
_.dll
_.so
\*.dylib


# .DS_Store
.DS_Store

build/

# Test binary, built with `go test -c`

\*.test

# Output of the go coverage tool, specifically when used with LiteIDE

\*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# FFI Bindings Wrapper Gen Demo
node_modules/
bun.lockb

examples/abstract/abstract
examples/time
examples/tygo
examples/http

dist/

gen-napi
